/web/bundles/
/web/previews/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
bower_components/
node_modules/
web/js/*
web/css/*
web/uploads/*
!web/js/bundled.min.js
!web/css/bundled.min.css
!web/css/*.gif
!web/css/*.png
/composer.phar
*~
.DS_Store
.idea
